.DS_Store
node_modules/
*.tsbuildinfo

# Cloudflare
.mf
.wrangler
apps/web/wrangler-dev.jsonc
apps/web/wrangler-prod.jsonc
durable-objects/**/wrangler-dev.jsonc
durable-objects/**/wrangler-prod.jsonc
.dev.vars
.env*
!.env.example*

# Turbo
.turbo

# Environment
.env.local

# Build outputs
build/
dist/
.next/

# IDE
.vscode/*
!.vscode/settings.json
!.vscode/extensions.json
.idea/
*.swp
*.swo
*~

# OS
Thumbs.db

# Logs
*.log
bun-debug.log*